@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0 auto;
    color: white;
}


/* The-game styles start*/


/* The-game background styles start*/

.background_general {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #298ED3;
    background-image: linear-gradient(0deg, #16026f 0%, #000 100%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.background_general::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/background/moon2.png");
    background-size: 150px;
    background-position: right 0% top 0%;
    background-repeat: no-repeat;
    animation: move 150s linear 0s infinite;
}

.background_forest {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/background/background_black-layer.png), url(/img/background/background_blue-layer.png), url(/img/background/background_purple-layer.png);
    background-size: cover, cover, cover;
    background-position: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.background_forest::before,
.background_forest::after,
.background_fog::before,
.background_fog::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 300vw;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
    pointer-events: none;
}

.background_forest::before,
.background_fog::before {
    background-image: url("/img/background/fog-1.png");
    background-repeat: repeat-x;
    background-size: contain;
    animation: move 60s linear 0s infinite;
}

.background_forest::after,
.background_fog::after {
    background-image: url("/img/background/fog-2.png");
    background-repeat: repeat-x;
    background-size: contain;
    animation: move 40s linear 0s infinite;
}

@keyframes move {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-200vw, 0, 0);
    }
}

.flashlight {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, transparent, #000 40%);
    pointer-events: none;
}


/* The-game background styles end*/


/* The-game logo styles start*/

.game__logo_wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__logo_wrapper::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.game__logo-img {
    max-width: 576px;
    border-radius: 50% 50%;
    box-shadow: 0px 0px 9px 4px #747DE8;
    animation: glowShadow 1.5s linear infinite alternate, glowImage 1.5s linear infinite alternate;
}

.game__logo-img2 {
    max-width: 576px;
    animation: glowImage 1.5s linear infinite alternate;
}

@keyframes glowShadow {
    to {
        box-shadow: 0px 0px 35px 15px #535FED;
    }
}

@keyframes glowImage {
    to {
        filter: brightness(2);
    }
}

.game__logo-img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 9px 4px #FB6980;
    animation: glowShadowHover 1.5s linear infinite alternate, glowImage 1.5s linear infinite alternate;
}

.game__logo-img2:hover {
    cursor: pointer;
}

@keyframes glowShadowHover {
    to {
        box-shadow: 0px 0px 35px 15px #FF0007;
    }
}

.game__logo-text {
    position: relative;
    bottom: 150px;
    font-size: 26px;
    color: #F2F2F2;
    text-transform: uppercase;
    pointer-events: none;
    text-shadow: #FFFFFF 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    animation: glowImage 1.5s linear infinite alternate;
}


/* The-game logo styles end*/


/* The-game story styles start*/

.game__story {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.story__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 576px;
    padding: 30px 30px 45px;
    background-color: #000;
    box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    z-index: 2;
}

.story__title,
.story__desc {
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #F2F2F2;
    margin-bottom: -3px;
}

.story__button_link {
    text-decoration: none;
}

.story__button {
    display: inline-flex;
    padding: 10px;
    margin-top: 30px;
    background-color: #000;
    font-weight: bold;
    font-size: 14px;
    color: #F2F2F2;
    text-transform: uppercase;
    text-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 4px #FB6980;
    animation: glowShadowHover 1.5s linear infinite alternate, glowImage 1.5s linear infinite alternate;
}

.story__button:hover,
.story__button:focus,
.story__button:active {
    cursor: pointer;
    text-shadow: #FFFFFF 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}


/* The-game story styles end*/


/* The-game user-information styles start*/

.game__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.game__button-play,
.game__button-menu {
    display: inline-flex;
    padding: 10px;
    margin-top: 15px;
    background-color: #000;
    font-weight: bold;
    font-size: 26px;
    color: #F2F2F2;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 4px #FB6980;
    animation: glowShadowHover 1.5s linear infinite alternate, glowImage 1.5s linear infinite alternate;
    text-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.game__button-play:hover,
.game__button-menu:hover {
    cursor: pointer;
    box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.game__guide>.story__desc {
    margin-top: 35px;
    animation: glowImage 1.5s linear infinite alternate;
}

.game__difficulty-levels {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.difficulty-levels__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 576px; */
    padding: 30px 30px 35px;
    background-color: #000;
    box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    z-index: 2;
}

.game__mode_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode_button {
    display: inline-flex;
    padding: 15px;
    margin-top: 80px;
    background-color: #000;
    font-weight: bold;
    font-size: 14px;
    color: #F2F2F2;
    text-transform: uppercase;
    text-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 4px #FB6980;
    animation: glowShadowHover 1.5s linear infinite alternate, glowImage 1.5s linear infinite alternate;
}

.mode_button:hover,
.mode_button:focus,
.mode_button:active {
    cursor: pointer;
    text-shadow: #FFFFFF 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.mode_button:first-child {
    margin-top: 30px;
}


/* The-game user-information styles end*/

.game__cells {
    display: grid;
    grid-template-areas: "top top" "middle-left middle-right" "bottom bottom";
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.game__cells_top {
    grid-area: top;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(16, 1fr);
}

.game__cells_bottom {
    grid-area: bottom;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(16, 1fr);
}

.game__cells_middle-left {
    grid-area: middle-left;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(8, 1fr);
}

.game__cells_middle-right {
    grid-area: middle-right;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(8, 1fr);
}


/* The-game result styles start*/

.game__result-victory,
.game__result-lost,
.game__result-notBad {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.victory__content,
.lost__content,
.notBad__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 30px 30px 35px;
    background-color: #000;
    box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    z-index: 2;
}

.button-close {
    font-size: 26px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
}

.button-close:hover,
.button-close:focus,
.button-close:active {
    cursor: pointer;
    box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}


/* The-game result styles end*/


/* .game__cells_top .cell {
    border: 1px solid greenyellow;
}

.game__cells_middle-left .cell {
    border: 1px solid darkcyan;
}

.game__cells_middle-right .cell {
    border: 1px solid darkblue;
}

.game__cells_bottom .cell {
    border: 1px solid red;
} */

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creature-pic {
    width: 100%;
    /* background-color: aliceblue; */
    animation: glowImage 1.5s linear infinite alternate;
}

.creature-pic:active {
    width: 105%;
}

@media screen and (max-width: 1600px) and (min-width: 1025px) {
    .game__cells_top,
    .game__cells_bottom {
        grid-template-columns: repeat(14, 1fr);
    }
    .game__cells_top>div:nth-child(n+29),
    .game__cells_bottom>div:nth-child(n+29) {
        display: none;
    }
    .game__cells_middle-left,
    .game__cells_middle-right {
        grid-template-columns: repeat(7, 1fr);
    }
    .game__cells_middle-left>div:nth-child(n+22),
    .game__cells_middle-right>div:nth-child(n+22) {
        display: none;
    }
}

@media screen and (max-width: 1224px) and (min-width: 1021px) {
    .game__cells_top,
    .game__cells_bottom {
        grid-template-columns: repeat(12, 1fr);
    }
    .game__cells_top>div:nth-child(n+25),
    .game__cells_bottom>div:nth-child(n+25) {
        display: none;
    }
    .game__cells_middle-left,
    .game__cells_middle-right {
        grid-template-columns: repeat(6, 1fr);
    }
    .game__cells_middle-left>div:nth-child(n+19),
    .game__cells_middle-right>div:nth-child(n+19) {
        display: none;
    }
}

@media screen and (max-width: 1020px) and (min-width: 769px) {
    .game__cells_top,
    .game__cells_bottom {
        grid-template-columns: repeat(10, 1fr);
    }
    .game__cells_top>div:nth-child(n+21),
    .game__cells_bottom>div:nth-child(n+21) {
        display: none;
    }
    .game__cells_middle-left,
    .game__cells_middle-right {
        grid-template-columns: repeat(5, 1fr);
    }
    .game__cells_middle-left>div:nth-child(n+16),
    .game__cells_middle-right>div:nth-child(n+16) {
        display: none;
    }
}

@media screen and (max-width: 768px) and (min-width: 376px) {
    /* The-game logo styles start*/
    .game__logo-img,
    .game__logo-img2 {
        width: 97%;
    }
    @keyframes glowShadow {
        to {
            box-shadow: 0px 0px 15px 10px #535FED;
        }
    }
    @keyframes glowShadowHover {
        to {
            box-shadow: 0px 0px 15px 10px #FF0007;
        }
    }
    .game__logo-text {
        position: relative;
        bottom: 150px;
        font-size: 26px;
    }
    /* The-game logo styles end*/
    /* The-game story styles start*/
    .story__content {
        width: 300px;
        padding: 15px 15px 25px;
    }
    .story__title,
    .story__desc {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
    .story__content>a>.story__button {
        padding: 10px;
        margin-top: 30px;
    }
    /* The-game story styles end*/
    /* The-game user-information styles start*/
    .buttons__wrapper {
        width: 100%;
        justify-content: space-evenly;
    }
    .game__button-play,
    .game__button-menu {
        font-size: 23px;
        padding: 10px;
        margin-top: 30px;
    }
    .difficulty-levels__content {
        width: 300px;
        padding: 15px 15px 25px;
    }
    .mode_button {
        padding: 10px;
        margin-top: 40px;
        font-size: 14px;
    }
    .mode_button:first-child {
        margin-top: 20px;
    }
    /* The-game user-information styles end*/
    /* The-game result styles start*/
    .victory__content,
    .lost__content,
    .notBad__content {
        width: 300px;
        padding: 15px 15px 25px;
    }
    .story__button {
        padding: 10px;
        margin-top: 30px;
    }
    /* The-game result styles end*/
    .game__cells_top,
    .game__cells_bottom {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(6, 1fr);
    }
    .game__cells_top>div:nth-child(n+19),
    .game__cells_bottom>div:nth-child(n+19) {
        display: none;
    }
    .game__cells_middle-left,
    .game__cells_middle-right {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    .game__cells_middle-left>div:nth-child(n+13),
    .game__cells_middle-right>div:nth-child(n+13) {
        display: none;
    }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
    /* The-game logo styles start*/
    .game__logo-img,
    .game__logo-img2 {
        width: 97%;
    }
    @keyframes glowShadow {
        to {
            box-shadow: 0px 0px 15px 10px #535FED;
        }
    }
    @keyframes glowShadowHover {
        to {
            box-shadow: 0px 0px 15px 10px #FF0007;
        }
    }
    .game__logo-text {
        position: relative;
        bottom: 150px;
        font-size: 26px;
    }
    /* The-game logo styles end*/
    /* The-game story styles start*/
    .story__content {
        width: 300px;
        padding: 15px 15px 25px;
    }
    .story__title,
    .story__desc {
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
    .story__content>a>.story__button {
        padding: 10px;
        margin-top: 30px;
    }
    /* The-game story styles end*/
    /* The-game user-information styles start*/
    .buttons__wrapper {
        width: 100%;
        justify-content: space-evenly;
    }
    .game__button-play,
    .game__button-menu {
        font-size: 23px;
        padding: 10px;
        margin-top: 30px;
    }
    .difficulty-levels__content {
        width: 300px;
        padding: 15px 15px 25px;
    }
    .mode_button {
        padding: 10px;
        margin-top: 40px;
        font-size: 14px;
    }
    .mode_button:first-child {
        margin-top: 20px;
    }
    /* The-game user-information styles end*/
    /* The-game result styles start*/
    .victory__content,
    .lost__content,
    .notBad__content {
        width: 300px;
        padding: 15px 15px 25px;
    }
    .story__button {
        padding: 10px;
        margin-top: 30px;
    }
    /* The-game result styles end*/
    .game__cells_top,
    .game__cells_bottom {
        grid-template-columns: repeat(4, 1fr);
    }
    .game__cells_top>div:nth-child(n+9),
    .game__cells_bottom>div:nth-child(n+9) {
        display: none;
    }
    .game__cells_middle-left,
    .game__cells_middle-right {
        grid-template-columns: repeat(2, 1fr);
    }
    .game__cells_middle-left>div:nth-child(n+7),
    .game__cells_middle-right>div:nth-child(n+7) {
        display: none;
    }
}

.hidden {
    display: none;
}

.block {
    display: block;
}